body,html{
    height: 100%;
    background-image: url(../images/vastExpanse.png);

}
.bg-img1{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 75px;
    font-family: 'Star Jedi Hollow', serif;
    color:yellow;
    justify-content: center;
  
}
#planets{
    padding-top: 100px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 30px;
    }
}

