body,html{
    height: 100%;
   
}
p{
    font-weight: bolder;
}
#bg-img2{
    background-image: url(../images/cristi-animated-yoda.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color:#93C0E7;
    color: black;
    margin-left: 10px;
}
button:hover {
    border: solid 2px #E8D19E;
    box-shadow: 0 15px 30px #E8D19E;
}
#text-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#baby-yoda{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
   
}

#text-bubble{
    width: 400px;
    background-color: #93C0E7;
    padding: 50px;
    border-radius: 15px 15px 0 15px;
    opacity: .5;
    color: black;
    font-weight: bold;
}
