body,html{
    height: 100%;
    background-color: black;

}

.title{
    font-size: 60px;
    font-family: 'Star Jedi Hollow', serif;
    color:yellow;
    justify-content: center;
  
}
#planets{
    padding-top: 100px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 30px;
        margin-top: 10px;
    }
}

